/* You can add global styles to this file, and also import other style files */
.Treant {
  overflow: visible !important;
}

.employess-chart {
  height: 600px;
  margin: 5px;
  width: 900px;
}

.Treant> p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.node-name {
  font-weight: bold;
}

.employessNode {
  padding: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #000;
  width: 200px;
  font-family: Tahoma;
  font-size: 12px;
}

.Treant > .node img {
  border: none;
  float: none;
  width: 50px;
}

.node{
  text-align: center;
  cursor: pointer;
}

.node:hover{
  background-color: lightsteelblue;
}
